<div class="productContainer">
  <picture class="productContainer--picture">
    <img class="productContainer--picture--img" src="{{img_url}}" alt="{{img_alt}}">
  </picture>
  <div class="productContainer--videoCont">
 <iframe class="productContainer--videoCont--video" src="https://www.youtube.com/embed/BRtidafbtW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="discount">
  {{discount}}
</div>
</div>
