<div class="container">

<h1>Listado de productos ({{products.length}})</h1>
<div class="containerGallery">

  <div class="cardProd" *ngFor="let product of products">
    <img class="cardImg" src="{{product.image}}" alt="{{product.name}}">
        <div class="cardBody" >
      <!-- <h5 class="card-title">{{product.name}}</h5> -->
      <p class="cardText">{{product.description}}</p>
      <h2 class="cardPrice">${{product.price}}</h2>
      <div class="starEdit d-flex gap-4 flex-row">
        <!-- stars -->
        {{product.stars}}
        <button class="btn btn-outline-primary btn-sm" (click)="goToEdit(product.id)">Editar</button>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteProduct(product.id)">Eliminar</button>
      </div>

      <!-- <span data-star="'{{product.stars}}'"></span> -->
    </div>
  </div>

</div>
</div>
