<div class="container-navs">

  <nav class="firstNav">
    <div class="logo"><img style="width:100% ;" src="../../../../assets/Captura de pantalla 2022-10-30 180745.png" alt="logo"></div>
    <div class="shopeame"><h2>Shopéame!</h2></div>
  </nav>
  <nav class="secondNav">
    <div class="icons">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <div class="containerIcon">
        <img src="../../../../assets/Icons Background.png" alt="">
        <span class="textIcon">Home</span>
        </div>
      </a>

      <a routerLink="products" routerLinkActive="active">
      <div class="containerIcon">
        <img style="width:80%" src="../../../../assets/Vector.png" alt="">
        <span class="textIcon">Prods.</span>
        </div>
      </a>
      <a routerLink="gestion" routerLinkActive="active">
      <div class="containerIcon">
        <img src="../../../../assets/Vector (1).png" alt="">
        <span class="textIcon">Gestión</span>
       </div>
      </a>
    </div>
  </nav>

</div>
